.skills-panel-container {
  width: fit-content; 
  min-width: 300px; 
  max-width: 100%;
  width: 100%;
  padding: 1.5rem;
  backdrop-filter: blur(8px);
  box-shadow:
    0 0px 0px 0px rgba(0, 0, 0, 0),
    inset 0 1px 0 rgba(255, 255, 255, 0.1);
  border-radius: 0.8rem;
  background-color: var(--bg-panel);
  font-family: "Quicksand", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  position: relative;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.toggle-btn,
.edit-btn {
  background: none;
  border: none;
  color: var(--border-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.toggle-btn:hover,
.edit-btn:hover {
  color: var(--button-hover);
}

.toggle-btn .material-icons,
.edit-btn .material-icons {
  font-size: 1.8rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11.75rem, 1fr));
  gap: 1.5rem;
}
