<div class="skills-panel-container">
  <header>
    <button class="toggle-btn" (click)="togglePanel()">
      <span class="material-symbols-outlined">keyboard_arrow_down</span>
    </button>
    <h1>{{ title }}</h1>
  </header>

  <div *ngIf="open" class="skills-grid">
    <app-skill-card
      *ngFor="let item of InterestsInput; trackBy: trackByFn"
      [id]="item.id || item.name"
      [level]="item.level || 0"
      
      [editable]="!isPublic && editable"
      
      [selectable]="selectable"
      [selected]="(item.id || item.name) === selectedSkillId"
      
      (click)="onSkillSelected(item)"
      (levelChange)="handleLevelChange($event, item)">
    </app-skill-card>

    <div *ngIf="InterestsInput.length === 0" class="empty-state-text">
      No hay elementos para mostrar.
    </div>
  </div>
</div>