.interests-panel-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #315465;
  border-radius: 8px;
  background-color: #315465;
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 1rem;
  position: relative;
}


header h1 {
  margin: 0;
  font-size: 1.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.toggle-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--principal-color-2);
}

.toggle-btn:hover {
  color: #21867a;
  transform: scale(1.1);
}

.add-btn-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: var(--principal-color-2, #2a9d8f);
  color: #315465;
  font-size: 1.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.2s;
}

.add-btn-circle:hover {
  background-color: #21867a;
  transform: scale(1.1);
}

.interest-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;

}
.interest-card {
  background-color: #22607bc5;
  border-radius: 15px;
  text-align: center;
  width: 30vh;
  height: 30vh;
  height: 100px;
  font-weight: 500;
  color: #ffffff;
  border: none;
}

.interest-card span {
  display: block;
}