.register-container {
  width: 350px;             
  margin: 50px auto;        
  padding: 20px;            
  border: 1px solid #315465;   
  border-radius: 8px;       
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
  background-color: #315465;   
  display: flex;
  flex-direction: column;
  align-items: center;      
}

.register-container h2 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--principal-color-2);
  margin-bottom: 20px;
}

.register-container form {
  width: 100%;              
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-container input {
  padding-left: 10px;
  padding-right: 35px; 
  height: 35px;
  font-size: 14px;
  width: 100%;
  background-color: #bfbfbf;
  border-radius: 8px;
  outline: none;
  border: 1px solid transparent; 
  transition: 0.2s;
}

.input-container .material-icons {
  position: absolute;
  right: 10px; 
  font-size: 20px;
  color: #555;
  pointer-events: none; 
}

.input-container.error input {
  border: 2px solid red;
  background-color: #ffe6e6;
  color: red; 
}

.input-container.error input::placeholder {
  color: #ff6666; 
}

.error-message {
  color: #ff4d4f;
  font-size: 0.85rem;
  margin-top: 5px;
  padding-left: 5px;
  text-align: left;
}
