<div class="newpassword-container" id="newpassword">
    <h1>NUEVA CONTRASEÑA</h1>
    <p>Introduzca su nueva contraseña</p>

    <form>
        <!--Componentes de password y de confirm-password-->
        <app-password-input (passwordChange)="newPassword = $event"></app-password-input>
        <app-confirm-password-input (confirmPasswordChange)="confirmPassword = $event"></app-confirm-password-input>
    </form>
    <div class="button-wrapper">
        <button class="back-button" type="button" (click)="goBack()"></button>
        <button class="send-button" type="button" (click)="submitNewPassword()">Enviar</button>
    </div>  
</div>