:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

.newpassword-container {
  background: #315465;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.9375rem rgba(0,0,0,0.1);
  text-align: center;
  max-width: 31.25rem;
  width: 90%;
}

.newpassword-container h1 {
  color: var(--principal-color-2, #2a9d8f);
  font-weight: 700;
  margin-bottom: 1rem;
}

.newpassword-container p {
  margin-bottom: 2rem;
  color: #fff;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.newpassword-container button {
  padding: 0.8rem 1.5rem;
  border-radius: 0.375rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

/* Botón enviar */
.send-button {
  background-color: var(--principal-color-2, #2a9d8f);
  color: #fff;
  border: none;
  margin-right: 3.75rem;
}

.send-button:hover {
  background-color: #21867a;
}

/* Botón volver */
.back-button {
  background-color: transparent !important;
  color: var(--principal-color-2);
  font-size: 1.2rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  border: 0.0625rem solid #315465;
}

.back-button::before {
  content: "<";
  margin-right: -1.5rem;
  color: var(--principal-color-2);
  font-weight: bold;
  font-size: xx-large;
}

.back-button:hover {
  color: var(--principal-color-2);
}

/* Inputs más anchos y menos altos */
.newpassword-container input {
  width: 60%;               
  padding: 0.8rem 0.8rem;   
  margin-bottom: 1.2rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid #bfbfbf;
  font-size: 1rem;
  box-sizing: border-box;
}

.newpassword-container.error input {
  border: 0.125rem solid red;
  background-color: #ffe6e6;
  color: red; 
}

.newpassword-container.error input::placeholder {
  color: #ff6666; 
}

.error-message {
  color: #ff4d4f;
  font-size: 0.85rem;
  margin-top: 0.3125rem;
  padding-left: 0.3125rem;
  text-align: left;
}

/* Responsive */
@media (max-width: 30rem) {
  .newpassword-container {
    padding: 1.5rem;
  }

  .newpassword-container h1 {
    font-size: 1.5rem;
  }

  .button-wrapper {
    flex-direction: column;
  }

  .newpassword-container button,
  .newpassword-container input {
    width: 100%;
  }
}