:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

.newpassword-container {
  background: #315465;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  max-width: 550px;
  width: 90%;
}

.newpassword-container h1 {
  color: var(--principal-color-2, #2a9d8f);
  font-weight: 700;
  margin-bottom: 1rem;
}

.newpassword-container p {
  margin-bottom: 2rem;
  color: #fff;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.newpassword-container button {
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

/* Bot칩n enviar */
.send-button {
  background-color: var(--principal-color-2, #2a9d8f);
  color: #fff;
  border: none;
}

.send-button:hover {
  background-color: #21867a;
}

/* Bot칩n volver */
.back-button {
  background-color: transparent !important;
  color: var(--principal-color-2);
  font-size: 1.2rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  border: #315465;
}

.back-button::before {
  content: "<";
  margin-right: -1.5rem;
  color: var(--principal-color-2);
  font-weight: bold;
  font-size: xx-large;
}

.back-button:hover {
  color: var(--principal-color-2);
}

/* Inputs m치s anchos y menos altos */
.newpassword-container input {
  width: 60%;               /* m치s ancho */
  padding: 0.5rem 0.8rem;   /* menos alto */
  margin-bottom: 1.2rem;
  border-radius: 6px;
  border: 1px solid #bfbfbf;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Responsive */
@media (max-width: 480px) {
  .newpassword-container {
    padding: 1.5rem;
  }

  .newpassword-container h1 {
    font-size: 1.5rem;
  }

  .button-wrapper {
    flex-direction: column;
  }

  .newpassword-container button,
  .newpassword-container input {
    width: 100%;
  }
}
