<div class="newpassword-container" id="newpassword" [ngClass]="{ 'error': showError }">
    <h1>NUEVA CONTRASEÑA</h1>
    <p>Introduzca su nueva contraseña</p>

    <form>
        <!--Componentes de password y de confirm-password-->
        <app-password-input (passwordChange)="newPassword = $event" [hasError]="showError"></app-password-input>
        <app-confirm-password-input (confirmPasswordChange)="confirmPassword = $event"
            [hasError]="showError"></app-confirm-password-input>
    </form>

    <p><small *ngIf="showError" class="error-message">
            {{message}}
        </small></p>

    <div class="button-wrapper">
        <button class="back-button" type="button" (click)="goBack()"></button>
        <button class="send-button" type="button" (click)="submitNewPassword()">Enviar</button>
    </div>
</div>