.input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-container select {
    background: rgba(255, 255, 255, 0.1);
  border: 1px solid #00bcd4;
  border-radius: 8px;
  padding: 10px 12px;
  color: #fff;
  font-size: 0.95rem;
  outline: none;
  transition: border-color 0.2s ease, background 0.2s ease;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-container option {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #00bcd4;
  border-radius: 8px;
  padding: 10px 12px;
  color: #fff;
  font-size: 0.95rem;
  outline: none;
  transition: border-color 0.2s ease, background 0.2s ease;
  width: 100%;
}

.input-container option {
  background-color: rgba(0, 0, 0, 0.8); /* mejor usar background-color */
  color: #fff;
  font-size: 0.95rem;
}



.input-container .material-icons {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: #fff;
  pointer-events: none;
}

.input-container.error select {
  border: 2px solid red;
  background-color: rgba(255, 255, 255, 0.1);
  color: red;
}

.input-container.error select::placeholder {
  color: #ff6666;
}

.error-message {
  color: #ff4d4f;
  font-size: 0.85rem;
  margin-top: 5px;
  padding-left: 5px;
  text-align: left;
}
