.input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-container select {
  padding-left: 10px;
  padding-right: 35px;
  height: 35px;
  font-size: 14px;
  width: 100%;
  background-color: #bfbfbf;
  border-radius: 8px;
  outline: none;
  border: none;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
}



.input-container .material-icons {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: #555;
  pointer-events: none;
}

.input-container.error select {
  border: 2px solid red;
  background-color: #ffe6e6;
  color: red; 
}

.input-container.error select::placeholder {
  color: #ff6666; 
}

.error-message {
  color: #ff4d4f;
  font-size: 0.85rem;
  margin-top: 5px;
  padding-left: 5px;
  text-align: left;
}