.input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}

.input-container select {
  padding-left: 0.625rem;
  padding-right: 2.188rem; 
  height: 2.188rem;
  font-size: 0.875rem;
  width: 100%;
  background-color: #bfbfbf;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  color: #000; 
  

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-container option {
  background-color: #fff;
  color: #000;
  font-size: 0.875rem;
}

.input-container .material-icons {
  position: absolute;
  right: 0.625rem; 
  font-size: 1.25rem;
  color: #555;
  pointer-events: none; 
}

.input-container.error select {
  border: 0.125rem solid red;
  background-color: #ffe6e6;
  color: red; 
}

.error-message {
  color: #ff4d4f;
  font-size: 0.85rem;
  margin-top: 0.313rem;
  padding-left: 0.313rem;
  text-align: left;
}