.information-container {
  width: 21.875rem;
  margin: 3rem auto;
  padding: 1.25rem;
  border-radius: 1.25rem;
  box-shadow: var(--shadow-large);
  border: 0.063rem solid var(--border-color);
  background-color: var(--bg-panel);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information-container h2 {
  font-family: var(--font-primary);
  font-weight: 700;
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--principal-color-2);
  margin-bottom: 1.25rem;
}

.information-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.information-container.error input {
  border: 0.125rem solid var(--error-color-1);
  background-color: #ffe6e6;
  color: var(--error-color-1);
}

.information-container.error input::placeholder {
  color: var(--error-color-1);
}

.error-message {
  color: var(--error-color-1);
  font-size: 0.85rem;
  margin-top: 0.313rem;
  padding-left: 0.313rem;
  text-align: left;
}
