<div class="information-container" id="infor">
    <h2>REGISTRARSE</h2>

    <form>
        <app-name-input (nameChange)="name = $event"></app-name-input>
        <app-surname-input (surnameChange)="surname = $event"></app-surname-input>
        <app-username-input (usernameChange)="username = $event"></app-username-input> 
        <app-birth-date (birthDateChange)="birthDate = $event"></app-birth-date>
        <app-phone-input (phoneChange)="phone = $event"></app-phone-input>
        <app-address-input (addressChange)="address = $event" (postalChange)="postalCode = $event"></app-address-input>
        <app-next-button (submit)=" registerData()"></app-next-button>
    </form>
</div>