<div class="information-container" id="infor">
  <h2>REGISTRARSE</h2>

  <form>
    <!--Componentes de los campos-->
    <app-name-input
      (nameChange)="name = $event"
      [hasError]="hasErrorAll"
    ></app-name-input>
    <app-surname-input
      (surnameChange)="surname = $event"
      [hasError]="hasErrorAll"
    ></app-surname-input>
    <app-birth-date
      (birthDateChange)="birthDate = $event"
      [hasError]="hasErrorAll"
    ></app-birth-date>
    <app-gender-input
      (genderChange)="gender = $event"
      [hasError]="hasErrorAll"
    ></app-gender-input>
    <app-phone-input
      (phoneChange)="phone = $event"
      [hasError]="hasErrorAll"
    ></app-phone-input>
    <app-location-search
      class="register-variant"
      [placeholder]="location ? location.displayName : 'Buscar Ubicación...'"
      (locationSelected)="onLocationSelected($event)"
    ></app-location-search>
    <small *ngIf="showError" class="error-message">
      {{ message }}
    </small>
    <app-next-button (submit)="registerData()"></app-next-button>
  </form>
</div>
