<div class="side-menu-container">
    <nav class="side-menu-nav">
        <ul>
            <li><a class="side-btn" routerLink="/">Perfil y cuenta</a></li>
            <li><a class="side-btn" routerLink="/home">Notificaciones</a></li>
            <li><a class="side-btn" routerLink="/">Preferencias</a></li>
            <li><a class="side-btn" routerLink="/">Privacidad y seguridad</a></li>
            <li><a class="side-btn" routerLink="/">Términos y condiciones</a></li>
            <li><a class="side-btn" routerLink="/">Política de privacidad</a></li>
            <li><a class="side-btn" routerLink="/">Acerca de Swaply</a></li>
            <li><a class="side-btn" routerLink="/">Soporte</a></li>
            <li><a class="side-btn" routerLink="/">Cerrar sesión</a></li>
        </ul>
    </nav>
</div>