<div class="side-menu-container">
    <nav class="side-menu-nav">
        <ul>
            <li><a class="side-btn" routerLinkActive="activo" routerLink="/profile-count-edit">Perfil y cuenta</a></li>
            <li><a class="side-btn" routerLinkActive="activo" routerLink="/notification">Notificaciones</a></li>
            <li><a class="side-btn" routerLinkActive="activo" routerLink="/preferences">Preferencias</a></li>
            <li><a class="side-btn" routerLinkActive="activo" routerLink="/private-security">Privacidad y seguridad</a></li>
            <li><a class="side-btn" routerLinkActive="activo" routerLink="/terms-conditions">Términos y condiciones</a></li>
            <li><a class="side-btn" routerLinkActive="activo" routerLink="/privacy-olicy">Política de privacidad</a></li>
            <li><a class="side-btn" routerLinkActive="activo" routerLink="/about">Acerca de Swaply</a></li>
            <li><a class="side-btn" routerLinkActive="activo" routerLink="/support">Soporte</a></li>
            <li><a class="side-btn" routerLinkActive="activo" routerLink="/sign-out">Cerrar sesión</a></li>
        </ul>
    </nav>
</div>