<div class="side-menu-container">
    <nav class="side-menu-nav">
        <ul>
            <li>
                <a class="side-btn" routerLinkActive="activo" routerLink="/profile-edit">
                    <span class="material-symbols-outlined">person</span>
                    Perfil y cuenta
                </a>
            </li>
            <li>
                <a class="side-btn" routerLinkActive="activo" routerLink="/coming-soon">
                    <span class="material-symbols-outlined">notifications</span>
                    Notificaciones
                </a>
            </li>
            <li>
                <a class="side-btn" routerLinkActive="activo" routerLink="/privacy-and-security">
                    <span class="material-symbols-outlined">security</span>
                    Privacidad y seguridad
                </a>
            </li>

            <li class="divider"></li>

            <li>
                <a class="side-btn" routerLinkActive="activo" routerLink="/terms-conditions">
                    <span class="material-symbols-outlined">description</span>
                    Términos y condiciones
                </a>
            </li>
            <li>
                <a class="side-btn" routerLinkActive="activo" routerLink="/privacy-policy">
                    <span class="material-symbols-outlined">policy</span>
                    Política de privacidad
                </a>
            </li>
            <li>
                <a class="side-btn" routerLinkActive="activo" routerLink="/landing">
                    <span class="material-symbols-outlined">info</span>
                    Acerca de Swaply
                </a>
            </li>

            <li class="divider"></li>

            <li>
                <a class="side-btn" routerLinkActive="activo" routerLink="/coming-soon">
                    <span class="material-symbols-outlined">support_agent</span>
                    Soporte
                </a>
            </li>
            <li>
                <a class="side-btn exit-btn" routerLinkActive="activo" routerLink="/exit">
                    <span class="material-symbols-outlined">logout</span>
                    Cerrar sesión
                </a>
            </li>
        </ul>
    </nav>
</div>