<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body style="font-family: Arial, sans-serif; background-color: #FCFCFC;">
    <div class="container"
        style="max-width: 40rem; margin: 1rem auto; background-color: #FCFCFC; border-radius: 1rem; box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); text-align: center;">

        <div class="header"
            style="background-color: #023047; padding: 1rem; margin-bottom: 1rem; border-top-left-radius: 1rem; border-top-right-radius: 1rem;">
            <img src="cid:logo_swp_invert" alt="Swaply" style="width: 15rem;">
        </div>

        <div>
            <h1 style="color: #292929; margin-bottom: 1.3rem; font-size: 1.5rem;">Restablece tu contraseña</h1>

            <p style="color: #292929; line-height: 1.6; margin-bottom: 1rem;">Hemos recibido una solicitud para
                restablecer tu contraseña. Haz clic en el siguiente enlace:</p>

            <img src="cid:swaply_hands" style="width: 12rem;">
            <br>
            <a th:href="${resetUrl}" class="button"
                style="display: inline-block; padding: 0.8rem 1.4rem; margin-top: 1rem; margin-bottom: 1rem; border-radius: 0.4rem; color: #FCFCFC !important; background-color: #3CB57C; text-decoration: none; font-weight: bold; font-size: 1rem;">

                REESTABLECER CONTRASEÑA
            </a>

            <p style="color: #292929; line-height: 1.6; margin-bottom: 1rem; font-size: 0.8rem;">Si no has solicitado
                esto, recomendamos que cambies tu contraseña lo antes posible.</p>
        </div>

        <div class="footer-separator"
            style="border-top: 0.3rem solid #9e9d9d; margin-top: 2rem; padding-top: 1.2rem; margin-left: 2rem;  margin-right: 2rem;">
            <p style="margin-top: 0.6rem; padding-bottom: 0.8rem; font-size: 0.6rem; color: #555555;">© 2024 Swaply Inc. | Política de Privacidad |
                Soporte</p>
        </div>
    </div>
</body>

</html>