.input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-container input {
  padding-left: 10px;
  padding-right: 35px; 
  height: 35px;
  font-size: 14px;
  width: 100%;
  background-color: #bfbfbf;
  border-radius: 8px;
  outline: none;
  border: none;
}

.input-container .material-icons {
  position: absolute;
  right: 10px; 
  font-size: 20px;
  color: #555;
  pointer-events: none; 
}

.error-message {
  color: #ff4d4f;
  font-size: 0.85rem;
  margin-top: 5px;
  text-align: left;
  padding-left: 5px;
}