<div class="nearby-search">
  
  <input 
    type="text" 
    [placeholder]="placeholderText" 
    [(ngModel)]="searchTerm"
    (ngModelChange)="onSearchTermChanged($event)"
    (focus)="onInputFocus()" 
    (click)="onInputFocus()"
  />
  
  <span class="material-symbols-outlined search-icon" *ngIf="!isLoading()">search</span>
  <div class="spinner-mini" *ngIf="isLoading()"></div>

  <div class="search-dropdown" *ngIf="results().length > 0 && showDropdown()">
    <ul>
      <li *ngFor="let skill of results()" (click)="onSelectSkill(skill)">
        <span class="dropdown-icon">{{ skill.icon }}</span>
        <div class="dropdown-text">
          <span class="dropdown-name">{{ skill.name }}</span>
          <span class="dropdown-cat">{{ skill.category }}</span>
        </div>
      </li>
    </ul>
  </div>

  <div class="search-dropdown empty" *ngIf="!isLoading() && results().length === 0 && searchTerm.length > 0 && showDropdown()">
    Sin resultados
  </div>

</div>