<body>
  <app-app-navbar></app-app-navbar>

  <div class="profile-page-container">
    <div class="profile-bottom-row">
      <div class="profile-side-layout">
        <app-side-menu></app-side-menu>
      </div>
      <div class="profile-info-container">
        <!-- IMAGEN DE PERFIL Y NOMBRES -->
        <div class="profile-row">
          <div class="profile-section image">
            <img [src]="avatarUrl" alt="Imagen de perfil" class="profile-avatar">
          </div>
          <div class="profile-section names">
            <div class="name-field">
              <label for="fullName">Nombre completo</label>
              <input id="fullName" type="text" placeholder="Juan Pérez" [(ngModel)]="fullName">
            </div>
            <div class="name-field">
              <label for="username">Username</label>
              <input id="username" type="text" placeholder="@juanperez123" [(ngModel)]="username">
            </div>
          </div>
        </div>

        <!-- SOBRE MI -->
        <div class="profile-section about">
          <label for="about">Sobre mí</label>
          <textarea id="about" placeholder="Escribe algo sobre ti..." [(ngModel)]="about"></textarea>
        </div>

        <!-- CORREO Y FECHA -->
        <div class="profile-row">
          <div class="profile-section half">
            <label for="email">Correo electrónico</label>
            <input id="email" type="email" placeholder="ejemplo@gmail.com" [(ngModel)]="email">
          </div>

          <div class="profile-section half">
            <label for="birthdate">Fecha de nacimiento</label>
            <input id="birthdate" type="date" [(ngModel)]="birthdate">
          </div>
        </div>

        <!-- UBICACIÓN Y GÉNERO -->
        <div class="profile-row">
          <div class="profile-section half">
            <label for="location">Ubicación</label>
            <input id="location" type="text" placeholder="Tarragona, Cataluña, España" [(ngModel)]="location">
          </div>

          <div class="profile-section half">
            <label for="gender">Género</label>
            <select id="gender" [(ngModel)]="gender">
              <option value="masculino" selected>Hombre</option>
              <option value="femenino">Mujer</option>
              <option value="otro">Otro</option>
              <option value="no_especificar">Prefiero no decirlo</option>
            </select>
          </div>
        </div>
        <app-save-button (submit)="save()"></app-save-button>
      </div>
    </div>
  </div>
  
</body>
