<app-app-navbar></app-app-navbar>

<!-- Contenedor principal -->
<div class="main-content">

  <app-profile-info [profileData]="profileData"[isPublic]="true">
  </app-profile-info>

  <div class="profile-panels-container">
    <app-skills-panel class="profile-skills" [SkillInput]="skills" [isPublic]="true"></app-skills-panel>

    <app-interests-panel class="profile-interests" [InterestsInput]="interests" [isPublic]="true"></app-interests-panel>
  </div>

  <section class="history-panel">


    <div class="section-header" (click)="toggleHistory()">


      <button class="toggle-btn" [class.rotated]="!isHistoryOpen">
        <span class="material-icons">keyboard_arrow_down</span>
      </button>

      <h2>Historial de Clases</h2>
    </div>


    <div class="publications-grid" *ngIf="isHistoryOpen">
      <article *ngFor="let clase of clasesImpartidas" class="pub-card">
        <div class="pub-bg">
          <img [src]="clase.img" alt="Actividad" onerror="this.src='assets/photos_skills/leisure/generic.jpg'">
        </div>

        <div class="pub-overlay"></div>

        <div class="pub-content">
          <div class="pub-header">
            <div class="pub-author-mini">
              <img [src]="clase.userImg" [alt]="clase.user" title="Alumno: {{clase.user}}"
                onerror="this.src='assets/people_demo/user_placeholder.png'">
            </div>
          </div>

          <div class="pub-info">
            <h3>{{ clase.titulo }}</h3>
            <div class="pub-meta">
              <div class="spacer"></div>
              <div class="rating-badge">
                <svg viewBox="0 0 20 20" fill="currentColor">
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
                <span>{{ clase.rating }}</span>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>

</div>