.skill-card {
  background-color: var(--bg-card);
  border: 0.15rem solid transparent;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 5rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.8rem;
}

.skill-name {
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  color: var(--secundary-color-1);
}

.skill-icon {
  font-size: 1.2rem;
}

.level-bar {
  display: flex;
  gap: 0.5rem;
}

.level-block {
  flex: 1;
  height: 1rem;
  border-radius: 0.8rem;
  border: 0.15rem solid var(--border-color);
  background-color: transparent;
}

.level-block.filled {
  background-color: var(--level-one-skill);
  border-color: var(--level-one-skill);
}

.skill-card.mid-level .level-block.filled {
  background-color: var(--level-two-skill);
  border-color: var(--level-two-skill);
}

.skill-card.high-level .level-block.filled {
  background-color: var(--level-three-skill);
  border-color: var(--level-three-skill);
}

.skill-card.is-editable {
  cursor: pointer;
}

.skill-card.is-editable:hover {
  transform: scale(1.05);
  z-index: 1;
  /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4); */
}

.skill-card.is-editable .level-block {
  transition: transform 0.1s ease, background-color 0.2s;
}

.skill-card.is-editable .level-block:hover {
  opacity: 0.8;
  transform: scaleY(1.2);
}

.skill-card.selected {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(0, 225, 255, 0.2) 100%
  );
  transform: scale(1.02);
  z-index: 2;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}
