<div class="recovery-container" [ngClass]="{ 'error': showError }">
  <h1>Recuperar Contraseña</h1>
  <p>Introduce tu correo electrónico para recibir un código de confirmación.</p>
  <!--Campo de email-->
  <input type="email" placeholder="Correo electrónico" [(ngModel)]="email" required />

  <p><small *ngIf="showError" class="error-message">
      {{message}}
    </small></p>

  <div class="button-wrapper">
    <button class="back-button" (click)="goBack()"></button>
    <button class="send-button" (click)="sendCode()">Enviar</button>
  </div>
</div>