<div class="home-container">
  <h1>Bienvenido a Swaply</h1>
  <p class="text">La plataforma para intercambiar habilidades y conocimientos</p>
 
  <div class="home-content">
    <p>En Swaply puedes:</p>
    <ul>
      <li>Registrar tus habilidades para compartir con otros</li>
      <li>Descubrir nuevas habilidades que quieres aprender</li>
      <li>Conectar con personas que tienen intereses similares</li>
    </ul>
  </div>
 
  <div class="home-actions">
    <p>Explora las opciones en el menú superior para comenzar:</p>
    <ul>
      <li><a routerLink="/home"><strong class='home'>Página de inicio</strong></a> - Vuelve a la página de inicio</li>
      <li><a routerLink="/skills"><strong>Mis habilidades</strong></a> - Registra lo que ya sabes hacer</li>
      <li><a routerLink="/interests"><strong>Habilidades que quiero aprender</strong></a> - Indica lo que te gustaría aprender</li>
      <li><a routerLink="/register"><strong>Registro</strong></a> - Crea tu cuenta en Swaply</li>
      <li><a routerLink="/login"><strong>Inicio de sesión</strong></a> - Inicia sesión tu cuenta en Swaply</li>
      <li><a routerLink="/personal-information"><strong>Información personal</strong></a> - Revisa y actualiza tu información personal</li>
      <li><a routerLink="/verify"><strong>Verificación de correo</strong></a> - Verifica tu correo electrónico</li>
      <li><a routerLink="/recovery-password"><strong>Recuperar contraseña</strong></a> - Recupera tu contraseña</li>
      <li><a routerLink="/confirmation"><strong>Confirmación final Verificación</strong></a> - Confirmación de tu Verificación</li>
      <li><a routerLink="/confirm-password"><strong>Confirmación cambio contraseña</strong></a> - Confirma el cambio de tu contraseña</li>
      <li><a routerLink="/error-auth"><strong>Error autenticación</strong></a> - Pantalla de error de autenticación</li>
      <li><a routerLink="/new-password"><strong>Nueva contraseña</strong></a> - Establece una nueva contraseña</li>
      <li><a routerLink="/skills-panel"><strong>Panel de habilidades</strong></a> - Accede al panel de habilidades</li>
      <li><a routerLink="/interests-panel"><strong>Panel de intereses</strong></a> - Accede al panel de intereses</li>
      <li><a routerLink="/profile-info"><strong>Información del perfil</strong></a> - Pantalla de perfil</li>
      <li><a routerLink="/profile-edit"><strong>Editar perfil propio</strong></a> - Edita la información de tu perfil</li>
      <li><a routerLink="/loading"><strong>Pantalla de carga</strong></a> - Ve la pantalla de carga</li>
      <li><a routerLink="/public-profile"><strong>Perfil público</strong></a> - Ve el perfil público de un usuario</li>
      <li><a routerLink="/recovery-email"><strong>Recuperar correo</strong></a> - Recupera tu correo electrónico</li>
      <li><a routerLink="/private-profile"><strong>Perfil privado</strong></a> - Ve el perfil privado de un usuario</li>
      <li><a routerLink="/filter-skills"><strong>Filtro de habilidades</strong></a> - Probar el nuevo filtro</li>

    </ul>
  </div>
</div>
