:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #012534 0%, #00839E 100%);
}

.confirmation-container {
  background: #356B8A;
  padding: 3rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.9375rem rgba(0,0,0,0.1);
  text-align: center;
  max-width: 28.125rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.icon-circle {
  width: 8.75rem;
  height: 8.75rem;
  background-color: var(--principal-color-2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7.5rem;
  margin-bottom: 1.5rem;
}

.icon-circle .material-icons {
  color: #fff;
  font-size: 7rem;
}

.confirmation-container p {
  color: #fff;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-align: center;
}

@media (max-width: 30rem) {
  .confirmation-container {
    padding: 1.5rem;
    width: 90%;
  }
}