.buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

#login {
  color: var(--secundary-color-1);
  background-color: var(--principal-color-2);
  border: 2px solid var(--principal-color-2);
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#login:hover {
  background-color: #2fa16f;
  border-color: #2fa16f;
}
