/* skills-panel.component.css */
.skills-panel-container {
  flex: 1;
  flex-basis: 0;
  padding: 1.5rem 2rem;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  background-color: var(--bg-panel);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  position: relative;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.toggle-btn, .edit-btn {
  background: none;
  border: none;
  color: var(--border-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.toggle-btn:hover, .edit-btn:hover{
  color: var(--button-hover);
}

.toggle-btn .material-icons,
.edit-btn .material-icons {
  font-size: 1.8rem;
}

/* --- GRID DE TARJETAS --- */
/* El grid se queda en el padre porque es quien organiza a los hijos */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}
