.skills-panel-container {
  flex: 1;
  flex-basis: 0;
  padding: 1.5rem 2rem;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  background-color: var(--bg-panel);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  position: relative;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Botones del header (flecha y editar) */
.toggle-btn, .edit-btn {
  background: none;
  border: none;
  color: var(--border-color); 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.toggle-btn:hover, .edit-btn:hover{
  color: var(--button-hover);
}

.toggle-btn .material-icons,
.edit-btn .material-icons {
  font-size: 1.8rem;
}

/* --- GRID DE TARJETAS --- */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
}

/* --- DISEÑO DE LA TARJETA --- */
.skill-card {
  background-color: var(--bg-card);
  border: 2px solid var(--border-color);
  border-radius: 12px; 
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90px; 
  box-sizing: border-box;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.8rem;
}

.skill-name {
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.skill-icon {
  font-size: 1.2rem;
}

/* --- BARRA DE PROGRESO (BLOQUES) --- */
.level-bar {
  display: flex;
  gap: 0.5rem; 
}

.level-block {
  flex: 1; 
  height: 12px;
  border-radius: 4px;
  border: 2px solid var(--border-color); 
  background-color: transparent;
}

.level-block.filled {
  background-color: var(--level-one-skill);
  border-color: var(--level-one-skill);
}

.skill-card.mid-level .level-block.filled {
  background-color: var( --level-two-skill);
  border-color: var(--level-two-skill);
}


.skill-card.high-level .level-block.filled {
  background-color: var( --level-three-skill);
  border-color: var(--level-three-skill);
}

@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: 1fr; 
  }
}
