<div class="skills-container">
  <h1>Selecciona tus habilidades</h1>

  <div class="category-block" *ngFor="let category of categories">
    <div class="category-header" (click)="toggleCategory(category.name)">
      <span class="category-title">{{ category.name }}</span>

      <span class="arrow" [class.open]="category.isOpen">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#3CB57C"
        >
          <path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z" />
        </svg>
      </span>
    </div>

    <div class="chips-container" [class.open]="category.isOpen">
      <div
        class="chip"
        *ngFor="let sub of category.skills"
        [class.selected]="sub.selected"
        (click)="toggleSkill(category.name, sub.id); $event.stopPropagation()"
      >
        {{ sub.name }} {{ sub.icon }}
      </div>
    </div>
  </div>

  <div class="actions">
    <a routerLink="/myprofile"><button (click)="submitSkills()" class="save-btn">Guardar</button></a>
  </div>
</div>
