.login-container {
  width: 350px;             
  margin: 50px auto;        
  padding: 20px;            
  border: 1px solid #315465;   
  border-radius: 8px;       
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
  background-color: #315465;   
  display: flex;
  flex-direction: column;
  align-items: center;      
}

.login-container h2 {
  font-family: var(--font-primary);
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: var(--principal-color-2);
  margin-bottom: 20px;
}

.login-container form {
  width: 100%;              
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
