.login-container {
  width: 21.875rem;
  margin: 0rem auto;
  padding: 2.5rem 1.25rem 1.25rem 1.25rem;
  border: 0.0625rem solid #315465;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  background-color: #315465;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo-wrapper {
  display: flex;
  justify-content: center;
}

.login-logo {
  width: 12.5rem;
  height: auto;
  margin-bottom: 4.375rem;
  margin-top: 4.375rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

.login-container h2 {
  font-family: var(--font-primary);
  font-weight: 700;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--principal-color-2);
}

.login-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.login-container div {
  margin: 0.125rem 0;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  color: #fcfcfc;
  cursor: pointer;
  text-align: center;
}

.login-container.error input {
  border: 0.125rem solid red;
  background-color: #ffe6e6;
  color: red;
}

.login-container.error input::placeholder {
  color: #ff6666;
}

.error-message {
  color: #ff4d4f;
  font-size: 0.85rem;
  margin-top: 0.3125rem;
  padding-left: 0.3125rem;
  text-align: left;
}