:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #012534 0%, #00839E 100%);
}

.delete-account-confirmation-container {
  background: #356B8A;
  padding: 3rem 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.625rem 1.56rem rgba(0,0,0,0.2);
  text-align: center;
  max-width: 28.125rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.75rem;
}

.icon-circle {
  width: 8.75rem;
  height: 8.75rem;
  background-color: #A11D1D; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -6.25rem;
  margin-bottom: 1.5rem;
  border: 0.3125rem solid #356B8A;
}

.icon-circle .material-icons {
  color: #fff;
  font-size: 7rem;
  line-height: 1; 
  display: block;
  transform: translateY(-11%); 
}

.delete-account-confirmation-container h2 {
  color: #fff;
  margin: 0 0 1rem 0;
  font-weight: 700;
}

.delete-account-confirmation-container p {
  color: #f0f0f0;
  font-size: 1rem;
  margin: 0.25rem 0;
  line-height: 1.5;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  border: none;
  font-weight: bold;
}

.btn-cancel {
  background-color: var(--principal-color-2); 
  color: #fff; 
  font-size: 1.1rem;
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0,0,0,0.1);
  order: 1; 
}

.btn-cancel:hover {
  background-color: var(--principal-color-2-hover); 
  transform: translateY(-0.125rem);
  box-shadow: 0 0.375rem 0.75rem rgba(0,0,0,0.2);
}

.btn-delete {
  background-color: transparent;
  box-shadow: none;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #ff8a80; 
  text-decoration: underline;
  opacity: 0.9;
  order: 2; 
  width: auto;
}

.btn-delete:hover {
  color: #ff5252;
  border-radius: 0.25rem;
}

@media (max-width: 30rem) {
  .delete-account-confirmation-container {
    padding: 1.5rem;
    width: 90%;
    margin-top: 5rem;
  }

  .button-wrapper {
    gap: 0.75rem;
  }
}