.input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}

.input-container input {
  background: var(--bg-input);
  border: 0.063rem solid var(--border-color);
  border-radius: 0.5rem;
  padding: 0.625rem 0.75rem;
  color: var(--secundary-color-1);
  font-size: 0.95rem;
  outline: none;
  transition: border-color 0.2s ease, background 0.2s ease;
  width: 100%;
  padding-left: 0.625rem;
  padding-right: 2.188rem;
  width: 100%;
}

.input-container .material-icons {
  position: absolute;
  right: 0.625rem;
  font-size: 1.25rem;
  color: var(--secundary-color-1);
  pointer-events: none;
}

.input-container.error input {
  border: 0.125rem solid  var(--error-color-1);
  background-color: var(--error-bg);
  color: var(--error-color-1);
}

.input-container.error input::placeholder {
  color:  var(--error-color-1);
}

.error-message {
  color:  var(--error-color-1);
  font-size: 0.85rem;
  margin-top: 0.313rem;
  padding-left: 0.313rem;
  text-align: left;
}
