.filter-box {
  display: flex;
  align-items: center;
  background-color: #FFFFFF1C;
  border-radius: 5px;
  padding: 4px 8px;
  width: fit-content;
  cursor: pointer;
  transition: 0.2s;
}

.filter-box:hover {
  background-color: #ffffff2b;
}

.filter-box .lines {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 8px;
  height: 18px;
}

.filter-box .line {
  width: 15px;
  height: 2px;
  background-color: #A19E9E;
  border-radius: 1px;
}

.filter-box .filter-text {
  color: #A19E9E;
  font-weight: bold;
  font-size: 13px;
}

.filter-dropdown {
  width: 220px;
  border: 1px solid #FFFFFF1C;
  border-radius: 5px;
  background-color: #FFFFFF1C;
  margin-top: 4px;
  padding: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  color: #A19E9E;
  backdrop-filter: blur(4px);
}

.category {
  margin-bottom: 4px;
}

.category-header {
  font-weight: bold;
  cursor: pointer;
  font-size: 13px;
  color: #A19E9E;
  padding: 3px 0;
  transition: 0.2s;
}

.category-header:hover {
  color: #ffffff;
}

.subcategory {
  padding-left: 10px;
  margin-top: 2px;
}

.subcategory label {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-size: 13px;
  cursor: pointer;
  color: #fff;
}

.subcategory input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 7px;
  cursor: pointer;
  background-color: transparent;
  transition: 0.25s;
  position: relative;
}

.subcategory input[type="checkbox"]:checked {
  background-color: var(--principal-color-2);
  border-color: #fff;
}

.subcategory input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 6px;
  height: 6px;
  background: var(--principal-color-2);
  border-radius: 50%;
}

hr {
  border: none;
  border-top: 1px solid #cccccc3a;
  margin: 6px 0;
}

.filter-results {
  margin-top: 8px;
  font-size: 13px;
  color: #A19E9E;
}
