<div class="filter-box" (click)="toggleFilter()">
  <span class="material-symbols-outlined">tune</span>
  <span class="filter-text">Filtrar</span>
</div>
 
<div class="filter-dropdown" *ngIf="isOpen()">
 
  <div class="category" *ngFor="let cat of categories">
 
    <div class="category-header" (click)="toggleCategory(cat)">
      {{ cat.name }}
    </div>
 
    <div class="subcategory" *ngIf="cat.open">
      <label *ngFor="let sub of cat.subcategories">
        <input
          type="checkbox"
          [(ngModel)]="sub.selected"
          (change)="toggleSub(sub)"
        >
        {{ sub.name }}
      </label>
    </div>
 
    <hr />
 
  </div>
 
</div>
 
<div class="filter-results" *ngIf="results().length > 0">
  <div *ngFor="let skill of results()">
    {{ skill.name }}
  </div>
</div>
