:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.register-container {
  width: 25rem;
  padding: 1.875rem;
  border: 0.063rem solid #315465;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-large);
  background-color: #315465;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-container h2 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 1.75rem;
  text-align: center;
  color: var(--principal-color-2);
  margin-bottom: 1.5rem;
}

.register-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.register-container.error input {
  border: 0.125rem solid var(--error-color-1);
  background-color: var(--error-bg);
  color: var(--error-color-1);
}

.register-container.error input::placeholder {
  color: var(--error-color-2);
}

.error-message {
  color: var(--error-color-1);
  font-size: 0.85rem;
  margin-top: 0.313rem;
  padding-left: 0.313rem;
}