.register-container {
  width: 21.875rem;             
  margin: 3.125rem auto;        
  padding: 1.25rem;            
  border: 0.0625rem solid #315465;   
  border-radius: 0.5rem;       
  box-shadow: 0 0.25rem 0.625rem rgba(0,0,0,0.1); 
  background-color: #315465;   
  display: flex;
  flex-direction: column;
  align-items: center;      
}

.register-container h2 {
  font-family: var(--font-primary);
  font-weight: 700;
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--principal-color-2);
  margin-bottom: 1.25rem;
}

.register-container form {
  width: 100%;              
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.register-container.error input {
  border: 0.125rem solid red;
  background-color: #ffe6e6;
  color: red; 
}

.register-container.error input::placeholder {
  color: #ff6666; 
}

.error-message {
  color: #ff4d4f;
  font-size: 0.85rem;
  margin-top: 0.3125rem;
  padding-left: 0.3125rem;
}