<div class="register-container" id="regist">
  <h2>REGISTRARSE</h2>

  <!--Formulario de registro con componentes personalizados-->
  <form (keydown.enter)="$event.preventDefault(); register()">
    <app-username-input
      [(username)]="username"
      [hasError]="hasErrorAll">
    </app-username-input>
    <app-email-input
      [(email)]="email"
      [hasError]="hasErrorAll">
    </app-email-input>

    <app-confirm-email-input
      [(confirmEmail)]="confirmEmail"
      [hasError]="hasErrorAll">
    </app-confirm-email-input>

    <app-password-input
      [(password)]="password"
      (passwordChange)="onPasswordChange($event)"
      [hasError]="hasErrorAll">
    </app-password-input>

    <app-confirm-password-input
      [(confirmPassword)]="confirmPassword"
      [hasError]="hasErrorAll">
    </app-confirm-password-input>

    <small *ngIf="showError" class="error-message">
      {{message}}
    </small>

    <app-terms-checkbox 
      (checkedChange)="accepted = $event"
      (showTerms)="showTermsModal = true"
      (showPrivacy)="showPrivacyModal = true">
    </app-terms-checkbox>
    
    <app-action-buttons (submit)="register()"></app-action-buttons>
  </form>
</div>

<app-terms-conditions *ngIf="showTermsModal" [isModal]="true" (closeModal)="showTermsModal = false"></app-terms-conditions>
<app-privacy-policy *ngIf="showPrivacyModal" [isModal]="true" (closeModal)="showPrivacyModal = false"></app-privacy-policy>