.main-content {
  padding: 1.25rem;
}

.profile-panels-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  /* width: 100%; */
  /* max-width: 100vw;
  box-sizing: border-box; */
}

.profile-skills,
.profile-interests {
  border-radius: 12px;
  padding: 0;
  /* min-height: 800px; */
  flex: 1;
  box-sizing: border-box;
}

.profile-skills {
  justify-content: flex-start;
}

.profile-interests {
  justify-content: flex-end;
}

.profile-actions {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.profile-actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.favorite-btn mat-icon {
  color: red;
}

.chat-btn {
  background-color: #00839E;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
}

.share-btn mat-icon {
  color: #012534;
}

@media (max-width: 900px) {
  .profile-skills,
  .profile-interests {
    flex: 1 1 100%;
    max-width: 100%;
    min-width: unset;
    justify-content: center;
    padding: 12px;
    min-height: auto;
  }

  .profile-actions {
    flex-direction: column;
    gap: 8px;
  }
}
