.main-content {
  padding: 0.078125rem;
}

.profile-panels-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  /* width: 100%; */
  /* max-width: 6.25rem;
  box-sizing: border-box; */
}

.profile-skills,
.profile-interests {
  border-radius: 0.75rem;
  padding: 0;
  /* min-height: 50rem; */
  flex: 1;
  box-sizing: border-box;
}

.profile-skills {
  justify-content: flex-start;
}

.profile-interests {
  justify-content: flex-end;
}

.profile-actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.profile-actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.favorite-btn mat-icon {
  color: red;
}

.chat-btn {
  background-color: #00839E;
  color: white;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
}

.share-btn mat-icon {
  color: #012534;
}

@media (max-width: 56.25rem) {
  .profile-skills,
  .profile-interests {
    flex: 1 1 100%;
    max-width: 100%;
    min-width: unset;
    justify-content: center;
    padding: 0.75rem;
    min-height: auto;
  }

  .profile-actions {
    flex-direction: column;
    gap: 0.5rem;
  }
}