<ng-container *ngIf="hasIntercambio(); else noIntercambio">
  <div class="interchange-box interchange-populated-wrapper">
    <div class="interchange-populated">

      <div class="interchange-half">
        <h3>Tu próxima habilidad para aprender</h3>
        <div class="interchange-skill-card">
          <img [src]="skillToLearn().img" alt="{{ skillToLearn().titulo }}">
          <div>
            <h4>{{ skillToLearn().titulo }}</h4>
            <p>{{ skillToLearn().hora }}</p>
            <p class="skill-location">
              <span class="material-symbols-outlined location">location_on</span>
              {{ skillToLearn().via }}
            </p>
            <p class="skill-location">
              <span class="material-symbols-outlined">
                <img src="assets/people_demo/juan_perez.png" alt="Foto de perfil" class="user-avatar">
              </span>
              {{ skillToLearn().user }}
            </p>
          </div>
        </div>
      </div>

      <span class="material-symbols-outlined arrow-icon">swap_horiz</span>

      <div class="interchange-half">
        <h3>Tu próxima habilidad para enseñar</h3>
        <div class="interchange-skill-card">
          <img [src]="skillToTeach().img" alt="{{ skillToTeach().titulo }}">
          <div>
            <h4>{{ skillToTeach().titulo }}</h4>
            <p>{{ skillToTeach().hora }}</p>
            <p class="skill-location">
              <span class="material-symbols-outlined location">location_on</span>
              {{ skillToTeach().via }}
            </p>
            <p class="skill-location">
              <span class="material-symbols-outlined">
                <img src="assets/people_demo/juan_perez.png" alt="Foto de perfil" class="user-avatar">
              </span>
              {{ skillToTeach().user }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="confirmation-area">
      <ng-container *ngIf="isConfirmed(); else showButton">
        <span class="status-text">
          <span class="material-symbols-outlined">check_circle</span>
          intercambio confirmada
        </span>
      </ng-container>
      <ng-template #showButton>
        <button class="btn-deny" (click)="toggleDeny()">
          <span class="material-symbols-outlined">cancel</span>
          Rechazar intercambio
        </button>
        <button class="btn-confirm" (click)="toggleConfirmation()">
          <span class="material-symbols-outlined">check_circle</span>
          Confirmar intercambio
        </button>
      </ng-template>
    </div>
  </div>
</ng-container>

<ng-template #noIntercambio>
  <div class="interchange-box interchange-empty">
    <p>No tienes ningún intercambio programado.</p>
    <div class="confirmation-area disabled">
      <span class="status-text">
        <span class="material-symbols-outlined">check_circle</span>
        intercambio confirmada
      </span>
    </div>
  </div>
</ng-template>