:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--principal-color-1);
}

.error-auth-container {
  background: #315465;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  max-width: 450px;
  width: 90%;
}

.icon-circle {
  width: 140px;
  height: 140px;
  color: #e63946; /* rojo para error */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1.5rem auto;
  border: #e63946 4px solid;
}

.icon-circle .material-icons {
  font-size: 7rem;
}

.error-auth-container p {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 0;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.continue-button {
  padding: 0.8rem 2rem;
  background-color: var(--principal-color-2); 
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 2rem;
}

.continue-button:hover {
  background-color: var(--principal-color-2);
}

@media (max-width: 480px) {
  .error-auth-container {
    padding: 1.5rem;
  }

  .button-wrapper {
    flex-direction: column; 
  }

  .continue-button {
    width: 100%;
  }
}
