/* Variables globales del componente */
:host {
  --animation-time: 2.5s;
  --loader-size: 30vmin;
  --stroke-thickness: 14;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--principal-color-3);
  z-index: 9999;
}

.p-loader {

  width: var(--loader-size);
  height: var(--loader-size);

  min-width: 150px;
  overflow: visible;
}

/* --- ESTILOS COMUNES --- */
.static-line,
.growing-line {
  fill: none;
  stroke: var(--principal-color-2);
  stroke-width: var(--stroke-thickness);
  stroke-linecap: butt;
  stroke-linejoin: round;
}

.arrow-head {
  fill: var(--principal-color-2);
  stroke: none;
}

/* --- ANIMACIONES --- */

.growing-line {
  /* Unidades relativas al viewBox del SVG  */
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
  will-change: stroke-dashoffset;
  animation: drawLine var(--animation-time) ease-in-out infinite;
}

.moving-arrow-group {
  offset-path: path("M 50 50 L 75 50 A 25 25 0 1 0 50 25 L 50 95");
  offset-rotate: auto;

  offset-distance: 0%;
  will-change: offset-distance;
  animation: moveArrow var(--animation-time) ease-in-out infinite;
}

/* --- KEYFRAMES --- */

@keyframes drawLine {
  0%,
  10% {
    stroke-dashoffset: 220;
  } /* Pausa inicial */
  50%,
  60% {
    stroke-dashoffset: 0;
  } /* Pausa final */
  100% {
    stroke-dashoffset: 220;
  } /* Retracción */
}

@keyframes moveArrow {
  0%,
  10% {
    offset-distance: 0%;
    opacity: 1;
  }
  50%,
  60% {
    offset-distance: 100%;
    opacity: 1;
  }
  100% {
    offset-distance: 0%;
    opacity: 1;
  }
}
