:host{
  --animation-time: 2.5s;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--principal-color-3);
  z-index: 9999;
}

.p-loader {
  width: 200px;
  height: 200px;
  overflow: visible;
}

/* --- ESTILOS COMUNES --- */
.static-line,
.growing-line {
  fill: none;
  stroke: var(--principal-color-2);
  stroke-width: 14;
  stroke-linecap: butt;
  stroke-linejoin: round;
}

.arrow-head {
  fill: var(--principal-color-2);
  stroke: none;
}

/* --- ANIMACIONES --- */

.growing-line {
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
  will-change: stroke-dashoffset;
  animation: drawLine var(--animation-time) ease-in-out infinite;
}

.moving-arrow-group {
  offset-path: path("M 50 50 L 75 50 A 25 25 0 1 0 50 25 L 50 95");
  offset-rotate: auto;

  offset-distance: 0%;
  will-change: offset-distance;
  animation: moveArrow var(--animation-time) ease-in-out infinite;
}

/* --- KEYFRAMES --- */

@keyframes drawLine {
  /* PAUSA INICIAL */
  0% {
    stroke-dashoffset: 220;
  }
  10% {
    stroke-dashoffset: 220;
  }

  /* EXPANSIÓN */
  50% {
    stroke-dashoffset: 0;
  }

  /* PAUSA FINAL */
  60% {
    stroke-dashoffset: 0;
  }

  /* COMPRESIÓN */
  100% {
    stroke-dashoffset: 220;
  }
}

@keyframes moveArrow {
  /* PAUSA INICIAL */
  0% {
    offset-distance: 0%;
    opacity: 1;
  }
  10% {
    offset-distance: 0%; /* Sigue en el inicio hasta el 10% */
    opacity: 1;
  }

  /* EXPANSIÓN */
  50% {
    offset-distance: 100%;
    opacity: 1;
  }

  /* PAUSA FINAL */
  60% {
    offset-distance: 100%;
    opacity: 1;
  }

  /* COMPRESIÓN */
  100% {
    offset-distance: 0%;
    opacity: 1;
  }
}
