server:
  port: 8081

spring:
  main: 
    allow-bean-definition-overriding: true

  cloud:
    azure:
      cosmos:
        connection-mode: GATEWAY
        endpoint: https://swaply-db.documents.azure.com:443/
        key: ${cosmos-readwrite-key}
        database: swaplydb
        populate-query-metrics: true


  mail:
    host: ${smtp-host}
    port: 587
    username: ${smtp-username}
    password: ${smtp-password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

frontend:
  reset-password-url: http://localhost:4200/new-password


azure:
  storage:
    container-name: avatars

logging:
  level:
    com.azure.identity: INFO
