<nav class="navbar">
  <button class="hamburger-btn" (click)="toggleMobileMenu()" aria-label="Abrir menú">
    <span class="material-symbols-outlined">{{ isMobileMenuOpen ? 'close' : 'menu' }}</span>
  </button>

  <a routerLink="/home" class="nav-logo" (click)="closeMobileMenu()">
    <img src="assets/logo_swp_invert.png" alt="Swaply Logo" class="nav-logo-img">
  </a>

  <div class="nav-menu" [class.open]="isMobileMenuOpen">
    <div class="nav-links">
      <a routerLink="/home" (click)="closeMobileMenu()">Para Ti</a> <a routerLink="/coming-soon"
        (click)="closeMobileMenu()">Comunidad</a>
      <a routerLink="/coming-soon" (click)="closeMobileMenu()">Eventos</a>

      <a [routerLink]="['/landing']" fragment="planes" class="nav-premium">
        <span class="material-symbols-outlined premium-icon">crown</span>
        Premium
      </a>
    </div>

    <div class="nav-search">
      <app-user-search></app-user-search>
    </div>
  </div>

  <div class="nav-right">
    <a routerLink="/chat" class="nav-icon-link"><span class="material-symbols-outlined nav-icon">chat_bubble</span></a>
    <button class="menu-btn" (click)="goToNotifications()">
      <span class="material-symbols-outlined nav-icon">notifications</span>
    </button>

    <div class="profile-wrapper">

      <span *ngIf="isLoggedIn() && dropdownMenuData" (click)="toggleDropdown(); $event.stopPropagation()"
        class="logged-in-user">

        <span *ngIf="dropdownMenuData.isPremium" class="material-symbols-outlined avatar-crown">
          crown
        </span>

        <img
          [src]="dropdownMenuData.profilePhotoUrl || 'assets/default-image.jpg'"
          alt="Foto de perfil" class="profile-pic" [class.premium-border]="dropdownMenuData.isPremium">
      </span>

      <span *ngIf="!isLoggedIn()" class="material-symbols-outlined nav-icon profile-icon"
        (click)="toggleDropdown(); $event.stopPropagation()">
        person
      </span>

      <div class="dropdown-overlay" *ngIf="showDropdown" [class.show]="showDropdown">
        <app-dropdown-menu *ngIf="dropdownMenuData" [dropdownMenuData]="dropdownMenuData"
          (closeMenu)="showDropdown = false">
        </app-dropdown-menu>
      </div>
    </div>
  </div>
</nav>