<header class="categories navbar-header">
  <nav>
    <ul class="navbar-list">
    <li><a class="navbar-btn" routerLink="/home">Inicio</a></li>
    <li><a class="navbar-btn" routerLink="/home">Página 2</a></li>
      <li><a class="navbar-btn" routerLink="/home">Página 3</a></li>
      <li class="search-group">
        <input class="search-input" type="text" placeholder="Buscar..." />
        <button class="navbar-btn icon-btn" title="Buscar">
          <span class="material-icons">search</span>
        </button>
      </li>
      <li>
        <a class="navbar-btn icon-btn" routerLink="/perfil" title="Perfil">
          <span class="material-icons">account_circle</span>
        </a>
      </li>
    </ul>
  </nav>
</header>