@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* --- Configuración Global y Fuentes --- */
::ng-deep * {
  font-family: 'Inter', sans-serif !important;
  box-sizing: border-box;
}

::ng-deep .material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

::ng-deep input,
::ng-deep button,
::ng-deep select,
::ng-deep textarea,
::ng-deep ::placeholder {
  font-family: 'Inter', sans-serif !important;
}

:host {
  display: block;
  background: linear-gradient(to bottom, #012534 0%, #00839E 100%);
  min-height: 100vh;
}
