/* Contenedor Principal (Panel) */
.interests-container {
  flex: 1;
  padding: 1.5rem 2rem;
  border: 0.1rem solid var(--border-color);
  border-radius: 1.2rem;
  background-color: var(--bg-panel);
  color: var(--principal-color-2);
  margin: 2rem auto;
  margin-top: 5rem;
  max-width: 45%;
  align-content: center;
}

/* Título Central */
.interests-container h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

p {
  color: var(--secundary-color-2);
  text-align: center;
}

/* Bloque de Categoría */
.category-block {
  margin-bottom: 1.5rem;
}

.category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  cursor: pointer;
  margin-bottom: 1rem;
}

.category-title {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Flecha de rotación */
.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(-90deg); /* Ajustado según tu SVG de flecha */
}

/* Grid de Skills (Chips) */
.chips-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 1.5rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, padding 0.3s ease;
}

.chips-container.open {
  max-height: 2000px; /* Suficiente para expandir */
  padding: 1rem 0;
}

/* Acciones y Botón Guardar */
.actions {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.save-btn {
  background-color: transparent;
  color: var(--principal-color-2);
  border: 2px solid var(--principal-color-2);
  padding: 0.6rem 2.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.save-btn:hover {
  background-color: var(--principal-color-2);
  box-shadow: 0 0 15px var(--principal-color-2);
  color: var(--principal-color-1);
}

.skill-card-not-selected {
  opacity: 0.5;
  filter: grayscale(0.6);
  transition: all 0.3s ease;
}

.skill-card-not-selected:hover {
  opacity: 1;
  filter: grayscale(0);
}
