.interests-container {
  width: 480px;
  margin: 40px auto;
  padding: 30px;
  background: #315465;
  border-radius: 20px;
}

h1 {
  text-align: center;
  color: #3ed598;
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
}

.category-block {
  background: #43697e;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.category-title {
  color: #3ed598;
  font-weight: 600;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

/* Arrow styling */
.arrow {
  transition: transform 0.25s ease;
  color: #3ed598;
  font-size: 20px;
}
.arrow.open {
  transform: rotate(-90deg);
}

/* Smooth slide container */
.chips-container {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  overflow: hidden;
  max-height: 0;
  padding-top: 0;

  transition:
    max-height 0.35s ease,
    padding-top 0.35s ease;
}

.chips-container.open {
  max-height: 500px;
  padding-top: 15px;
}

.chip {
  padding: 8px 14px;
  border-radius: 12px;
  background: rgba(191, 191, 191, 0.3);
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease;
  user-select: none;
}

.chip.selected {
  background: #3ed598;
  color: #083344;
}

.chip:hover {
  background: #3ed598aa;
}

.actions {
  text-align: center;
  margin-top: 25px;
}
.save-btn {
  width: 120px;
  color: var(--principal-color-2);
  background-color: #315465;
  border: 2px solid var(--principal-color-2);
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.save-btn:hover {
  background-color: var(--principal-color-2);
  color: var(--secundary-color-1);
}