.input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}

.input-container input {
   padding-left: 0.625rem;  
  padding-right: 2.1875rem;
  height: 2.1875rem; 
  font-size: 0.875rem; 
  width: 100%;
  background-color: #bfbfbf;
  border-radius: 0.5rem; 
  outline: none;
  border: none;
}

.input-container .material-icons {
  position: absolute;
  right: 0.625rem; 
  font-size: 1.25rem;
  color: #555;
  pointer-events: none; 
}

.input-container.error input {
  border: 0.125rem solid red;
  background-color: #ffe6e6;
  color: red; 
}

.input-container.error input::placeholder {
  color: #ff6666; 
}

.error-message {
  color: #ff4d4f;
  font-size: 0.85rem;
  text-align: left;
  margin-top: 0.3125rem; 
  padding-left: 0.3125rem; 
  text-align: left;
}