<div class="profile-card">
  <img [src]="avatarUrl" alt="User avatar" class="avatar" />

  <div class="info">
    <h2 class="name">{{ fullName }}</h2>

    <div class="username-row">
      <p class="username">{{ username }}</p>
      <i class="bi bi-share"></i>
      <i class="bi bi-link"></i>
      <span class="material-icons">settings</span>
      <span class="material-icons">share</span>
    </div>

    <p class="location">{{ ubicacion }}</p>
  </div>

  <div class="actions">
    <i class="bi bi-share"></i>
    <i class="bi bi-link"></i>
  </div>

  <p class="description">
    {{ description }}
  </p>
</div>
