<div class="profile-card">
    <button *ngIf="!isPublic"class="material-icons edit-icon" (click)="goToEdit()">edit</button>
  <img [src]="profileData.profilePhotoUrl || 'assets/default-image.jpg'" alt="User avatar" class="avatar" />

  <div class="info">
    <h2 class="name">{{ profileData.fullName }}</h2>

    <div class="username-row">
      <p class="username">{{ "@" + profileData.username }}</p>
      <span class="material-icons share-icon">share</span>
    </div>

    <p class="location">{{ profileData.location }}</p>

    <div class="rating">
      <i class="material-icons" *ngFor="let starNum of starsArray">
        {{
          profileData.rating >= starNum
            ? "star"
            : profileData.rating >= starNum - 0.5
            ? "star_half"
            : "star_border"
        }}
      </i>
      <span>{{ profileData.rating }}</span>
    </div>
  </div>

  <button *ngIf="isPublic" class="btn-swap-internal" (click)="goToSwap()">
    <span class="material-icons">swap_horiz</span>
    SWAP
  </button>

  <div class="description">
    {{ profileData.description }}
  </div>

</div>