<div class="profile-card">
  <button
    *ngIf="!isPublic"
    class="material-icons edit-icon"
    (click)="goToEdit()"
  >
    edit
  </button>
  <img
    [src]="profileData.profilePhotoUrl || 'assets/default-image.jpg'"
    alt="User avatar"
    class="avatar"
  />

  <div class="info">
    <h2 class="name">{{ profileData.fullName }}</h2>

    <div class="username-row">
      <p class="username">{{ "@" + profileData.username }}</p>
      <button class="share-btn" (click)="share()">
        <span class="material-icons share-icon">share</span>
      </button>
      @if (showToast) {
        <div class="copyed-notification">Enlace copiado al portapapeles 📋</div>
      }
    </div>

    <p *ngIf="profileData.location != null" class="location">
      {{ profileData.location.displayName }}
    </p>

  </div>

  <div class="right-block">

    <div class="description">
    {{ profileData.description }}
  </div>

  <div class="actions" *ngIf="isPublic">
    <button class="btn-message" (click)="contactUser()">
      <span class="material-icons">chat_bubble_outline</span>
      Mensaje
    </button>

    <button class="btn-swap-internal" (click)="goToSwap()">
      <span class="material-icons">swap_horiz</span>
      SWAP
    </button>
  </div>

  
  </div>
</div>