.profile-card {
  width: 90vw;          
  max-width: 2000px;  
  min-width: 600px;    
  margin: 0 auto;      
  box-sizing: border-box;
  padding: 1.5rem 2rem;
  border-radius: 12px;
  color: #d9f7e7;
  font-family: "Quicksand";
  display: flex;
  align-items: flex-start;
  gap: 3.5rem;
  position: relative;
}
 
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc;
}
 
.info {
  flex: 1;
  margin-top: 0.2rem;
}
 
.name {
  color: #3CB57C;
  font-size: 1.9rem;
  margin: 0;
  font-weight: bold;
}
 
.username {
  color: #3CB57C;
  font-size: 0.95rem;
  margin: 0.2rem 0;
  font-weight: bold;
}
 
.location {
  font-size: 1rem;
  color:#ffffff
}
 
.actions {
  position: absolute;
  top: 1.3rem;
  right: 1.5rem;
  display: flex;
  gap: 0.8rem;
}
 
.actions i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}
 
.actions i:hover {
  transform: scale(1.1);
}
 
.description {
  position: absolute;
  bottom: 30px;
  left: 750px;
  width: 50%;
  right: 2rem;
  font-size: 1rem;
  color: #ffffff;
}
.username-row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 0.2rem 0;
}
 
.username-row .username {
  margin: 0;
 
  font-size: 1.15rem;
}
 
.username-row i,
.username-row .material-icons {
  color: #3CB57C;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}
 
.username-row i:hover,
.username-row .material-icons:hover {
  transform: scale(1.1);
  color: #6affb9;
}
