<div class="nearby-search">

  <input
    type="text"
    placeholder="Buscar habilidad..."
    [ngModel]="searchTerm"
    (ngModelChange)="onSearchTermChanged($event)"
    (focus)="onInputFocus()"
    (click)="onInputFocus()"
  />

  <span class="material-symbols-outlined search-icon" *ngIf="!isLoading()">search</span>

  <div class="spinner-mini" *ngIf="isLoading()"></div>

  <div class="search-dropdown" *ngIf="results().length > 0 && showDropdown()">
    <ul>
      <li *ngFor="let location of results()" (click)="onSelectlocation(location)">
        <!-- <span class="dropdown-icon">{{ location.icon }}</span> -->
        <div class="dropdown-text">
          <span class="dropdown-name">{{ location.display_name }}</span>
          <!-- <span class="dropdown-cat">{{ location.category }}</span> -->
        </div>
      </li>
    </ul>
  </div>

  <div class="search-dropdown empty" *ngIf="!isLoading() && results().length === 0 && searchTerm.length > 0 && showDropdown()">
    Sin resultados
  </div>

</div>
