@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:host {
  display: block;
  font-family: 'Inter', sans-serif;
  width: auto;
}

.nearby-search {
  position: relative;
  width: 100%;
  border-color: var(--border-color);

}

.nearby-search input {
  background: var(--bg-input);
  border: 0.063rem solid var(--border-color);
  border-radius: 0.5rem;
  padding: 0.625rem 0.75rem;
  color: var(--secundary-color-1);
  font-size: 0.95rem;
  outline: none;
  transition: border-color 0.2s ease, background 0.2s ease;
  width: 100%;
}


.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-width: 17.5rem;
  background-color: var(--bg-panel);
  border: 0.063rem solid var(--border-color);
  border-radius: 0.75rem;
  margin-top: 0.5rem;
  box-shadow: var(--shadow-large);
  z-index: 50;
  overflow: hidden;
}

.search-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-dropdown li {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-bottom: 0.063rem solid var(--bg-input);
  transition: background 0.2s;
}

.search-dropdown li:last-child {
  border-bottom: none;
}

.search-dropdown li:hover {
  background-color: var(--bg-card);
}


.dropdown-text {
  display: flex;
  flex-direction: column;
}

.dropdown-name {
  font-weight: 600;
  color: var(--secundary-color-1);
  font-size: 0.9rem;
}

.dropdown-cat {
  font-size: 0.75rem;
  color: var(--secundary-color-2);
}

.search-dropdown.empty {
  padding: 1rem;
  text-align: center;
  color: var(--secundary-color-2);
  font-size: 0.9rem;
}
