<div class="verification-container">
  <h1>VERIFICACIÓN</h1>
  <p>Introduzca el código enviado a su correo electrónico.</p>

  <div class="code-inputs">
    <!-- Cada input representa un dígito del código de verificación (máximo 6 dígitos) -->
    <!-- Campo 0: permite pegar el código completo y gestiona entrada y retroceso -->
  <input type="text" id="code-0" maxlength="1" (paste)="onPaste($event)" (input)="onInput($event,0)" (keydown)="onKeyDown($event,0)">
  <!-- Campos 1 a 5: gestionan entrada y retroceso individualmente -->
  <input type="text" id="code-1" maxlength="1" (input)="onInput($event,1)" (keydown)="onKeyDown($event,1)">
  <input type="text" id="code-2" maxlength="1" (input)="onInput($event,2)" (keydown)="onKeyDown($event,2)">
  <input type="text" id="code-3" maxlength="1" (input)="onInput($event,3)" (keydown)="onKeyDown($event,3)">
  <input type="text" id="code-4" maxlength="1" (input)="onInput($event,4)" (keydown)="onKeyDown($event,4)">
  <input type="text" id="code-5" maxlength="1" (input)="onInput($event,5)" (keydown)="onKeyDown($event,5)">
</div>



  <div class="button-group">
  <button class="back-button" (click)="goBack()"></button>
  <button id="button-verify" (click)="verifyCode()">Continuar</button>
</div>


</div>