:host {
  display: flex;
  justify-content: center;  /* centra horizontalmente */
  align-items: center;      /* centra verticalmente */
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #012534 0%, #00839E 100%);
}

.error-404-container {
  background: #356B8A;
  padding: 3rem;               /* espacio interno */
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  max-width: 450px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* el contenido empieza desde arriba */
}

h2 {
  color: #fff;
  font-size: 35px;
  margin: 1rem 0 0 0;
  font-family: var(--font-primary);
  font-weight: 500;
}

.error-404-container p {
  color: #fff;
  font-size: 1rem;
  margin-top: 1rem;   /* añade un poco de espacio desde el h2 */
  margin-bottom: 0;
}

.icon-circle {
  width: 140px;
  height: 140px;
  background-color: #A11D1D;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -120px;          /* baja la mitad del círculo hacia arriba */
  margin-bottom: 1.5rem;
}

.icon-circle .material-icons {
  color: #fff;
  font-size: 7rem;
}

.error-404-container p {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 0;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.continue-button {
  padding: 0.8rem 2rem;
  background-color: #A11D1D;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 2rem;
}

.continue-button:hover {
  background-color: #b9243b;
}

@media (max-width: 480px) {
  .error-404-container {
    padding: 1.5rem;
    width: 90%;
  }

  .button-wrapper {
    flex-direction: column;
  }

  .continue-button {
    width: 100%;
  }
}
