.buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

#discard {
  color: white;
  background-color: var(--error-color-2);
  border: 2px solid var(--error-color-2);
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#discard:hover {
  background-color: var(--error-color-3);
  border-color: var(--error-color-3);
  color: white;
}